.title {
  color: #fff;
  margin: 10px 0;
}

.reservas {
  padding: 20px;
  margin-bottom: 10px;
  background: #282929;
  color: #fff;
  border-radius: 8px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.reservas .preview {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  
}

.reservas .preview strong {
  font: 700 24px Roboto;
  color: rgb(225, 225, 65);
  margin-bottom: 20px;
}

.reservas .preview img {
  max-width: 250px;
  max-height: 200px;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.reservas button {
  border: 0;  
  background: transparent;
}

footer button {
  border: 0;
  display: flex;
  padding: 10px;
  text-transform: uppercase;
  border-radius: 4px;
  margin-top: 10px;
  font-weight: bold;
}

.reservas .amount {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.reservas .amount p {
  border-radius: 4px;
  color: #fff;
  padding: 0 20px;
  font: 600 26px Roboto;
}